/*para el formulario menos el boton*/
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@200&display=swap');
/*para boton enviar*/
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@200;400&display=swap');

$tamaño:450px;

@mixin tamaños ($ancho, $alto){
    width: $ancho;
    height: $alto;
}
.bodycontacto{
    background-position: center;
    background-size: cover;
    .contactotitulo{
        text-align: center;
        text-shadow: 2px 2px 5px black;
        font-family: 'Montserrat';
    }
}
form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    input, #comentarios{
        width: 80%;
        color: black;
        border: 5px solid rgba(255, 255, 255, 0.0);
        background-color: rgba(255, 255, 255, 0.4);
    }
    .imput1, #comentarios{
        box-shadow: 5px 5px 5px black;
    }
    #boton1{
        background-color: rgb(0, 255, 221);
        border-radius: 100px;
        font-family: 'Exo', sans-serif;
        width: 35%;
        margin-right: 10px;
        margin-bottom: 20px;
    }
    #boton1:hover{
        background-color: #333;
        color: rgb(0, 255, 221);
        transition: 0.7s;
    }
    #boton2{
        background-color: rgb(255, 0, 0);
        border-radius: 100px;
        padding: 1%;
        font-family: 'Exo', sans-serif;
        width: 35%;
        margin-bottom: 20px;
    }
    #boton2:hover{
        background-color: #333;
        color: rgb(255, 0, 0);
        transition: 0.7s;
    }
    input::placeholder,#comentarios::placeholder{
        color:rgb(156, 156, 156);
        font-family: 'Exo', sans-serif;
    }
    input:focus, #comentarios:focus{
        transform: scale(1.05);
        transition: 0.7s;
    }
}
@media screen and (min-width:601px){
    .contactotitulo{
        font-size: 60px;
    }
}
@media screen and (max-width:600px){
    .contactotitulo{
        font-size: 50px;
    }
}
@media screen and (min-width:501px){
    input::placeholder, #comentarios::placeholder, input, #comentarios{
        font-size: 25px;
    }
}
@media screen and (max-width:500px){
    input::placeholder, #comentarios, #comentarios::placeholder,input, #comentarios{
        font-size: 20px;
    }
}
@media screen and (max-width:350px){
    .contactotitulo{
        font-size: 40px;
    }
}