.bodygaleria{
    background: linear-gradient(rgb(34, 33, 33), white);
    .galeriatitulo{
        font-family: 'Montserrat';
        text-transform: uppercase;
        text-shadow: 2px 2px 5px rgb(255, 255, 255);
        font-size: 4em;
        text-transform: capitalize;
    }
    .contenedor{
        .contenedor__fotos{
            row-gap:20px;
            img{
                filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));
                transition: 2s;
            }
        }
    }
}
@media screen and (max-width:600px){
    .bodygaleria{
        .galeriatitulo{
            font-size: 3em;
        }
    }
}
@media screen and (max-width:300px){
    .bodygaleria{
        .galeriatitulo{
            font-size: 2em;
        }
    }
}
@media screen and (min-width:768px){
    .contenedor{
        .contenedor__fotos{
            img{
                border-radius: 50px;
            }
        }
    }
}
.contenedor{
    .contenedor__fotos{
        img:hover{
            filter: drop-shadow(5px 5px 5px rgb(0, 0, 0)) grayscale(100%);
        }
    }
}
