/*para hero*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&display=swap');
/*para maquinaescribir*/
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
.tituloshero{
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
}

.imgredondas{
    img{
        border-radius: 500px;
        filter: drop-shadow(2px 2px 5px black);
    }
    img:hover{
        transform: rotate(360deg);
        transition: 3s;
    }
}

.mapayqs{
    .mapayqs__filtros{
        .filtros__qs{
            .filtros__qs--texto{
                font-size: 20px;
            }
        }
    }
}
@media screen and (max-width:480px){
    .mapayqs{
        .mapayqs__filtros{
            .filtros__qs{
                .filtros__qs--texto{
                    font-size: 15px;
                }
            }
        }
    }
}
@media screen and (min-width:992px) 
{
    .filtros__qs:hover{
        margin-top: 20px;
        margin-bottom: 20px;
        transform: scale(1.1);
        transition-duration: 3s;
        box-shadow: 2px 2px 1px black;
    }
}

@media screen and (max-width:991px) 
{
    .filtros__qs{
        margin-top: 30px;
        margin-bottom: 10px;
    }
}
/*maquina escribir*/
.contenedor{
	margin: auto;
	display: table;
    .maqesq{ 
	    position: relative; 
	    float: left;
	    color: #fff;
	    font-size: 30px;
        font-family: 'Caveat', cursive;
        span{
            position:absolute;
            padding: 2px;
            right:0;
            width:0;
            background: rgb(224, 214, 159);
            border-left: 1px solid #000;
            animation: escribir 6s steps(33) infinite alternate;
        }
    }
}
@keyframes escribir {
    from { width: 100% }
    to { width:0 }
}

@media only screen and (max-width:400px)
{
    .contenedor{
        .maqesq{
            font-size: 25px;
        }
    }
}
@media only screen and (max-width:299px)
{
    .contenedor{
        .maqesq{
            font-size: 20px;
        }
    }
}
/*maquina escribir fin*/

@media screen and (max-width:800px) 
{
    .tituloshero{
        font-size: 30px;
    }
}
@media screen and (max-width:600px) 
{
    .tituloshero{
        font-size: 20px;
    }
}
@media screen and (max-width:400px) 
{
    .tituloshero{
        font-size: 17px;
    }
}

@media only screen and (max-width:480px)
{
    .mapayqs{
        flex-direction: column;
    }
}