/* listas de sabores */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.bodysabores{
    background: url(multimedia/helaafuera.jpg);
    background-size: cover;
    background-position: center;
    .sabores{
        background-color: rgba(0, 0, 0, 0.8);
        .titulosabores{
            font-family: 'Montserrat';
            text-shadow: 2px 2px 5px rgb(255, 255, 255);
        }
        .sabores__listas{
            overflow: hidden;
            .listas__lista{
                li{
                    font-family: 'Bebas Neue', cursive;
                    text-transform: uppercase;
                }
                .a0{
                    --animate-duration: 1s;
                }
                .a1{
                    --animate-duration: 1.1s;
                }
                .a2{
                    --animate-duration: 1.2s;
                }
                .a3{
                    --animate-duration: 1.3s;
                }
                .a4{
                    --animate-duration: 1.4s;
                }
                .a5{
                    --animate-duration: 1.5s;
                }
                .a6{
                    --animate-duration: 1.6s;
                }
                .a7{
                    --animate-duration: 1.7s;
                }
                .a8{
                    --animate-duration: 1.8s;
                }
                .a9{
                    --animate-duration: 1.9s;
                }
                .a10{
                    --animate-duration: 2s;
                }
                .a11{
                    --animate-duration: 2.1s;
                }
                .a12{
                    --animate-duration: 2.2s;
                }
                .a13{
                    --animate-duration: 2.3s;
                }
                .a14{
                    --animate-duration: 2.4s;
                }
                .a15{
                    --animate-duration: 2.5s;
                }
                .a16{
                    --animate-duration: 2.6s;
                }
                .a17{
                    --animate-duration: 2.7s;
                }
                .a18{
                    --animate-duration: 2.8s;
                }
                .a19{
                    --animate-duration: 2.9s;
                }
                .a20{
                    --animate-duration: 3s;
                }
                .a21{
                    --animate-duration: 3.1s;
                }
                .a22{
                    --animate-duration: 3.2s;
                }
                .a23{
                    --animate-duration: 3.3s;
                }
                .a24{
                    --animate-duration: 3.4s;
                }
                .a25{
                    --animate-duration: 3.5s;
                }
                .a26{
                    --animate-duration: 3.6s;
                }
                .a27{
                    --animate-duration: 3.7s;
                }
            }
        }
    }
}
@media screen and (min-width:992px)
{
    .titulosabores{
        font-size: 50px;
    }
    .sabores__listas{
        .listas__lista{
            li{
                font-size: 35px;
            }
        }
    }
}
@media screen and (max-width:991px)
{
    .titulosabores{
        font-size: 35px;
    }
    .sabores__listas{
        .listas__lista{
            li{
                font-size: 25px;
            }
        }
    }
}
@media screen and (max-width:575px) 
{
    .titulosabores{
        font-size: 32px;
    }
    .sabores__listas{
        .listas__lista{
            li{
                font-size: 20px;
            }
        }
    }
}
@media screen and (max-width:320px)
{
    .titulosabores{
        font-size: 27px;
    }
}