.bodysabores{
    background-image: url(multimedia/imghela22.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    .titulosabores{
        font-family: 'Montserrat';
        font-size: 50px;
        text-shadow: 2px 2px 5px rgb(255, 255, 255);
    }
}
.listas__lista{
    li{
        font-family: 'Bebas Neue', cursive;
        text-transform: uppercase;
    }
}
@media screen and (min-width:992px)
{
    .listas__lista{
        li{
            font-size: 40px;
        }
    }
}
@media screen and (max-width:991px)
{
    .listas__lista{
        li{
            font-size: 30px;
        }
    }
}
@media screen and (max-width:575px) 
{
    .listas__lista{
        li{
            font-size: 20px;
        }
    }

}
@media screen and (max-width:575px) 
{
    .bodysabores{
        .titulosabores{
            font-size: 2em;
        }
    }
}
@media screen and (max-width:320px) 
{
    .bodysabores{
        .titulosabores{
            font-size: 27px;
        }
    }
}