/* listas de sabores */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.bodysabores{
    background: url(multimedia/helaafuera.jpg);
    background-size: cover;
    background-position: center;
    .sabores{
        background-color: rgba(0, 0, 0, 0.8);
        .titulosabores{
            font-family: 'Montserrat';
            text-shadow: 2px 2px 5px rgb(255, 255, 255);
        }
        .sabores__listas{
            overflow: hidden;
            .listas__lista{
                li{
                    font-family: 'Bebas Neue', cursive;
                    text-transform: uppercase;
                }
            }
        }
    }
}
@media screen and (min-width:992px)
{
    .titulosabores{
        font-size: 50px;
    }
    .sabores__listas{
        .listas__lista{
            li{
                font-size: 35px;
            }
        }
    }
}
@media screen and (max-width:991px)
{
    .titulosabores{
        font-size: 35px;
    }
    .sabores__listas{
        .listas__lista{
            li{
                font-size: 25px;
            }
        }
    }
}
@media screen and (max-width:575px) 
{
    .titulosabores{
        font-size: 32px;
    }
    .sabores__listas{
        .listas__lista{
            li{
                font-size: 20px;
            }
        }
    }
}
@media screen and (max-width:320px) 
{
    .titulosabores{
        font-size: 27px;
    }
}