.tituloshero{
    font-family: 'Montserrat', sans-serif;
}
.filtros__qs{
    p{
        font-size: 20px;
    }
}
.filtros__qs:hover{
    box-shadow: 2px 2px 1px black;
    background-color: rgb(219, 209, 148);
}