/* hero section */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&display=swap');
/* direccion footer */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
/* VICTORIA CREAM */
@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
/*para los h1 sabores, informacion, galeria, contacto*/
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');
/* listas de sabores */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/*h2 de informacion*/
@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');

@import 'header';
@import 'footer';
@import 'informacion';
@import 'galeria';
@import 'contacto';
@import 'sabores';
@import 'index';


$colorfondo:clarito;
body{
    @if $colorfondo == clarito{
        background-color: rgb(224, 214, 159);
    }@else if $colorfondo == azul{
        background-color:blue;
    }@else {
        color:black;
    }
}



/* MEDIA QUERIES RESPONSIVE */

@media only screen and (max-width:480px)
{
    .section{
        flex-direction: column;
    }
}


/* ANIMACIONES */

@keyframes aparecer{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}