/*para los h1 sabores, informacion, galeria, contacto*/
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap");
/* VICTORIA CREAM */
@import url("https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mate+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo:wght@200;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
header .navbar {
  background-image: -webkit-gradient(linear, left top, right top, from(#1313a5), to(#00ffdd));
  background-image: linear-gradient(to right, #1313a5, #00ffdd);
  z-index: 9999;
}

header .navbar div #viccre {
  color: yellow;
  font-family: 'Slabo 27px', serif;
  font-size: 25px;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

header .navbar div #navbarNavAltMarkup .linksheader {
  color: black;
  font-weight: bold;
  font-size: 18px;
}

header .navbar div #navbarNavAltMarkup .linksheader a:hover {
  color: #3b3b3b;
}

header .navbar div #navbarNavAltMarkup .linksheader:hover {
  color: #3b3b3b;
}

@media screen and (max-width: 296px) {
  header .navbar div #viccre {
    font-size: 20px;
  }
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* direccion footer */
footer {
  background: #a0a0a8;
  -webkit-box-shadow: -1px -1px 10px black;
          box-shadow: -1px -1px 10px black;
}

footer .footer__filtros .footer__direccion {
  font-family: 'Quicksand', sans-serif;
  font-style: italic;
  font-weight: bold;
}

footer .footer__filtros .footer__redes .footer__redes--ig {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-decoration: none;
  color: #a0a0a8;
}

footer .footer__filtros .footer__redes .footer__redes--ig i {
  border-radius: 5px;
  background: black;
  padding: 4px;
  border-radius: 30px;
  font-size: 30px;
}

footer .footer__filtros .footer__redes .footer__redes--ig i:hover {
  background: linear-gradient(225deg, #ae00ff, red, yellow);
  color: black;
}

footer .footer__filtros .footer__redes .footer__redes--fb {
  margin-right: 10px;
  margin-left: 10px;
}

footer .footer__filtros .footer__redes .footer__redes--fb i {
  color: black;
  font-size: 40px;
}

footer .footer__filtros .footer__redes .footer__redes--fb i:hover {
  color: #1818fc;
}

footer .footer__filtros .footer__redes .footer__redes--wp i {
  color: black;
  font-size: 40px;
}

footer .footer__filtros .footer__redes .footer__redes--wp i:hover {
  color: #22f02c;
}

/*h2 de informacion*/
.bodyinformacion {
  background: url(multimedia/helaafuera.jpg);
  background-position: center;
  background-size: cover;
}

.bodyinformacion .sectioninfo {
  background-color: rgba(255, 255, 255, 0.6);
}

.bodyinformacion .sectioninfo .row .informacion h1 {
  font-family: 'Montserrat';
  text-shadow: 2px 2px 5px black;
}

.bodyinformacion .sectioninfo .row .actualidad h2, .bodyinformacion .sectioninfo .row .protocolos h2, .bodyinformacion .sectioninfo .row .nuevospagos h2, .bodyinformacion .sectioninfo .row .otrainfo h2 {
  font-family: 'Mate SC', serif;
}

.bodyinformacion .sectioninfo .row .actualidad p, .bodyinformacion .sectioninfo .row .protocolos p, .bodyinformacion .sectioninfo .row .nuevospagos p, .bodyinformacion .sectioninfo .row .otrainfo p {
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 1202px) {
  .informacion h1 {
    font-size: 60px;
  }
  .actualidad h2, .protocolos h2, .nuevospagos h2, .otrainfo h2 {
    font-size: 45px;
  }
  .actualidad p, .protocolos p, .nuevospagos p, .otrainfo p {
    font-size: 25px;
  }
}

@media screen and (max-width: 1201px) {
  .informacion h1 {
    font-size: 55px;
  }
  .actualidad h2, .protocolos h2, .nuevospagos h2, .otrainfo h2 {
    font-size: 42px;
  }
  .actualidad p, .protocolos p, .nuevospagos p, .otrainfo p {
    font-size: 22.5px;
  }
}

@media screen and (max-width: 993px) {
  .informacion h1 {
    font-size: 50px;
  }
  .actualidad h2, .protocolos h2, .nuevospagos h2, .otrainfo h2 {
    font-size: 39px;
  }
  .actualidad p, .protocolos p, .nuevospagos p, .otrainfo p {
    font-size: 20px;
  }
}

@media screen and (max-width: 769px) {
  .informacion h1 {
    font-size: 45px;
  }
  .actualidad h2, .protocolos h2, .nuevospagos h2, .otrainfo h2 {
    font-size: 36px;
  }
  .actualidad p, .protocolos p, .nuevospagos p, .otrainfo p {
    font-size: 17.5px;
  }
}

@media screen and (max-width: 576px) {
  .informacion h1 {
    font-size: 40px;
  }
  .actualidad h2, .protocolos h2, .nuevospagos h2, .otrainfo h2 {
    font-size: 33px;
  }
  .actualidad p, .protocolos p, .nuevospagos p, .otrainfo p {
    font-size: 16px;
  }
}

.bodygaleria {
  background: -webkit-gradient(linear, left top, left bottom, from(#222121), to(white));
  background: linear-gradient(#222121, white);
}

.bodygaleria .galeriatitulo {
  font-family: 'Montserrat';
  text-transform: uppercase;
  text-shadow: 2px 2px 5px white;
  font-size: 4em;
  text-transform: capitalize;
}

.bodygaleria .contenedor .contenedor__fotos {
  row-gap: 20px;
}

.bodygaleria .contenedor .contenedor__fotos img {
  -webkit-filter: drop-shadow(5px 5px 5px black);
          filter: drop-shadow(5px 5px 5px black);
  -webkit-transition: 2s;
  transition: 2s;
}

.bodygaleria .contenedor .contenedor__fotos img:hover {
  -webkit-filter: drop-shadow(5px 5px 5px black) grayscale(100%);
          filter: drop-shadow(5px 5px 5px black) grayscale(100%);
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-transition: .8s;
  transition: .8s;
}

@media screen and (max-width: 600px) {
  .bodygaleria .galeriatitulo {
    font-size: 3em;
  }
}

@media screen and (max-width: 300px) {
  .bodygaleria .galeriatitulo {
    font-size: 2em;
  }
}

@media screen and (min-width: 768px) {
  .contenedor .contenedor__fotos img {
    border-radius: 50px;
  }
}

/*para el formulario menos el boton*/
/*para boton enviar*/
.bodycontacto {
  background-position: center;
  background-size: cover;
}

.bodycontacto .contactotitulo {
  text-align: center;
  text-shadow: 2px 2px 5px black;
  font-family: 'Montserrat';
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

form input, form #comentarios {
  width: 80%;
  color: black;
  border: 5px solid rgba(255, 255, 255, 0);
  background-color: rgba(255, 255, 255, 0.4);
}

form .imput1, form #comentarios {
  -webkit-box-shadow: 5px 5px 5px black;
          box-shadow: 5px 5px 5px black;
}

form #boton1 {
  background-color: #00ffdd;
  border-radius: 100px;
  font-family: 'Exo', sans-serif;
  width: 35%;
  margin-right: 10px;
  margin-bottom: 20px;
}

form #boton1:hover {
  background-color: #333;
  color: #00ffdd;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

form #boton2 {
  background-color: red;
  border-radius: 100px;
  padding: 1%;
  font-family: 'Exo', sans-serif;
  width: 35%;
  margin-bottom: 20px;
}

form #boton2:hover {
  background-color: #333;
  color: red;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

form input::-webkit-input-placeholder, form #comentarios::-webkit-input-placeholder {
  color: #9c9c9c;
  font-family: 'Exo', sans-serif;
}

form input:-ms-input-placeholder, form #comentarios:-ms-input-placeholder {
  color: #9c9c9c;
  font-family: 'Exo', sans-serif;
}

form input::-ms-input-placeholder, form #comentarios::-ms-input-placeholder {
  color: #9c9c9c;
  font-family: 'Exo', sans-serif;
}

form input::placeholder, form #comentarios::placeholder {
  color: #9c9c9c;
  font-family: 'Exo', sans-serif;
}

form input:focus, form #comentarios:focus {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

@media screen and (min-width: 601px) {
  .contactotitulo {
    font-size: 60px;
  }
}

@media screen and (max-width: 600px) {
  .contactotitulo {
    font-size: 50px;
  }
}

@media screen and (min-width: 501px) {
  input::-webkit-input-placeholder, #comentarios::-webkit-input-placeholder, input, #comentarios {
    font-size: 25px;
  }
  input:-ms-input-placeholder, #comentarios:-ms-input-placeholder, input, #comentarios {
    font-size: 25px;
  }
  input::-ms-input-placeholder, #comentarios::-ms-input-placeholder, input, #comentarios {
    font-size: 25px;
  }
  input::placeholder, #comentarios::placeholder, input, #comentarios {
    font-size: 25px;
  }
}

@media screen and (max-width: 500px) {
  input::-webkit-input-placeholder, #comentarios, #comentarios::-webkit-input-placeholder, input, #comentarios {
    font-size: 20px;
  }
  input:-ms-input-placeholder, #comentarios, #comentarios:-ms-input-placeholder, input, #comentarios {
    font-size: 20px;
  }
  input::-ms-input-placeholder, #comentarios, #comentarios::-ms-input-placeholder, input, #comentarios {
    font-size: 20px;
  }
  input::placeholder, #comentarios, #comentarios::placeholder, input, #comentarios {
    font-size: 20px;
  }
}

@media screen and (max-width: 350px) {
  .contactotitulo {
    font-size: 40px;
  }
}

/* listas de sabores */
.bodysabores {
  background: url(multimedia/helaafuera.jpg);
  background-size: cover;
  background-position: center;
}

.bodysabores .sabores {
  background-color: rgba(0, 0, 0, 0.8);
}

.bodysabores .sabores .titulosabores {
  font-family: 'Montserrat';
  text-shadow: 2px 2px 5px white;
}

.bodysabores .sabores .sabores__listas {
  overflow: hidden;
}

.bodysabores .sabores .sabores__listas .listas__lista li {
  font-family: 'Bebas Neue', cursive;
  text-transform: uppercase;
}

@media screen and (min-width: 992px) {
  .titulosabores {
    font-size: 50px;
  }
  .sabores__listas .listas__lista li {
    font-size: 35px;
  }
}

@media screen and (max-width: 991px) {
  .titulosabores {
    font-size: 35px;
  }
  .sabores__listas .listas__lista li {
    font-size: 25px;
  }
}

@media screen and (max-width: 575px) {
  .titulosabores {
    font-size: 32px;
  }
  .sabores__listas .listas__lista li {
    font-size: 20px;
  }
}

@media screen and (max-width: 320px) {
  .titulosabores {
    font-size: 27px;
  }
}

/* hero section */
/*maquina de escribir*/
.tituloshero {
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
}

.imgredondas img {
  border-radius: 500px;
  -webkit-filter: drop-shadow(2px 2px 5px black);
          filter: drop-shadow(2px 2px 5px black);
}

.imgredondas img:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: 3s;
  transition: 3s;
}

.mapayqs .mapayqs__filtros .filtros__qs .filtros__qs--texto {
  font-size: 20px;
}

@media screen and (max-width: 480px) {
  .mapayqs .mapayqs__filtros .filtros__qs .filtros__qs--texto {
    font-size: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .filtros__qs:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition-duration: 3s;
            transition-duration: 3s;
  }
}

@media screen and (max-width: 991px) {
  .filtros__qs {
    margin-top: 30px;
    margin-bottom: 10px;
  }
}

/*maquina escribir*/
.contenedor {
  margin: auto;
  display: table;
}

.contenedor .maqesq {
  position: relative;
  float: left;
  color: #fff;
  font-size: 30px;
  font-family: 'Caveat', cursive;
}

.contenedor .maqesq span {
  position: absolute;
  padding: 2px;
  right: 0;
  width: 0;
  background: #e0d69f;
  border-left: 1px solid #000;
  -webkit-animation: escribir 6s steps(33) infinite alternate;
          animation: escribir 6s steps(33) infinite alternate;
}

@-webkit-keyframes escribir {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

@keyframes escribir {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

@media only screen and (max-width: 400px) {
  .contenedor .maqesq {
    font-size: 25px;
  }
}

@media only screen and (max-width: 299px) {
  .contenedor .maqesq {
    font-size: 20px;
  }
}

/*maquina escribir fin*/
@media screen and (max-width: 800px) {
  .tituloshero {
    font-size: 30px;
  }
}

@media screen and (min-width: 601px) {
  .imggrandeshero {
    display: none !important;
  }
}

@media screen and (max-width: 600px) {
  .tituloshero {
    font-size: 20px;
  }
  .imgchicashero {
    display: none !important;
  }
}

@media screen and (max-width: 400px) {
  .tituloshero {
    font-size: 17px;
  }
}

@media only screen and (max-width: 480px) {
  .mapayqs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 999999999;
  background: url("multimedia/descarga.png") 50% 50% no-repeat #fff;
}

body {
  background-color: #e0d69f;
}

body::-webkit-scrollbar {
  width: 10px;
  /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #e0e0e0;
  /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: gray;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
}
/*# sourceMappingURL=estilos.css.map */