/* hero section */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&display=swap");
/* direccion footer */
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
/* VICTORIA CREAM */
@import url("https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap");
/*para los h1 sabores, informacion, galeria, contacto*/
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap");
/* listas de sabores */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
/*h2 de informacion*/
@import url("https://fonts.googleapis.com/css2?family=Mate+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&display=swap");
header .navbar {
  background-image: -webkit-gradient(linear, left top, right top, from(#1313a5), to(#00ffdd));
  background-image: linear-gradient(to right, #1313a5, #00ffdd);
  z-index: 9999;
}

header .navbar div #viccre {
  color: yellow;
  font-family: 'Slabo 27px', serif;
  font-size: 25px;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

header .navbar div #navbarNavAltMarkup .linksheader {
  color: black;
  font-weight: bold;
  font-size: 18px;
}

@media screen and (max-width: 296px) {
  header .navbar div #viccre {
    font-size: 20px;
  }
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

footer {
  background: #a0a0a8;
  -webkit-box-shadow: -1px -1px 10px black;
          box-shadow: -1px -1px 10px black;
}

footer .footer__filtros .footer__direccion {
  font-family: 'Quicksand', sans-serif;
  font-style: italic;
  font-weight: bold;
}

footer .footer__filtros .footer__redes .footer__redes--ig {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-decoration: none;
  color: #a0a0a8;
}

footer .footer__filtros .footer__redes .footer__redes--ig i {
  border-radius: 5px;
  background: black;
  padding: 4px;
  border-radius: 30px;
  font-size: 30px;
}

footer .footer__filtros .footer__redes .footer__redes--ig i:hover {
  background: linear-gradient(225deg, #ae00ff, red, yellow);
  color: black;
}

footer .footer__filtros .footer__redes .footer__redes--fb {
  margin-right: 10px;
  margin-left: 10px;
}

footer .footer__filtros .footer__redes .footer__redes--fb i {
  color: black;
  font-size: 40px;
}

footer .footer__filtros .footer__redes .footer__redes--fb i:hover {
  color: #1818fc;
}

footer .footer__filtros .footer__redes .footer__redes--wp i {
  color: black;
  font-size: 40px;
}

footer .footer__filtros .footer__redes .footer__redes--wp i:hover {
  color: #22f02c;
}

.informacion h1 {
  font-family: 'Montserrat';
  font-size: 60px;
  text-shadow: 2px 2px 5px black;
}

.actualidad h2, .protocolos h2, .nuevospagos h2, .otrainfo h2 {
  font-family: 'Mate SC', serif;
  font-size: 45px;
}

.actualidad p, .protocolos p, .nuevospagos p, .otrainfo p {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 1201px) {
  .informacion h1 {
    font-size: 55px;
  }
  .actualidad h2, .protocolos h2, .nuevospagos h2, .otrainfo h2 {
    font-size: 42px;
  }
  .actualidad p, .protocolos p, .nuevospagos p, .otrainfo p {
    font-size: 22.5px;
  }
}

@media screen and (max-width: 993px) {
  .informacion h1 {
    font-size: 50px;
  }
  .actualidad h2, .protocolos h2, .nuevospagos h2, .otrainfo h2 {
    font-size: 39px;
  }
  .actualidad p, .protocolos p, .nuevospagos p, .otrainfo p {
    font-size: 20px;
  }
}

@media screen and (max-width: 769px) {
  .informacion h1 {
    font-size: 45px;
  }
  .actualidad h2, .protocolos h2, .nuevospagos h2, .otrainfo h2 {
    font-size: 36px;
  }
  .actualidad p, .protocolos p, .nuevospagos p, .otrainfo p {
    font-size: 17.5px;
  }
}

@media screen and (max-width: 576px) {
  .informacion h1 {
    font-size: 40px;
  }
  .actualidad h2, .protocolos h2, .nuevospagos h2, .otrainfo h2 {
    font-size: 33px;
  }
  .actualidad p, .protocolos p, .nuevospagos p, .otrainfo p {
    font-size: 16px;
  }
}

.bodygaleria {
  background: -webkit-gradient(linear, left top, left bottom, from(#222121), to(white));
  background: linear-gradient(#222121, white);
}

.bodygaleria .galeriatitulo {
  font-family: 'Montserrat';
  text-transform: uppercase;
  text-shadow: 2px 2px 5px white;
  font-size: 4em;
  text-transform: capitalize;
}

.bodygaleria .contenedor .contenedor__fotos {
  row-gap: 20px;
}

.bodygaleria .contenedor .contenedor__fotos img {
  -webkit-filter: drop-shadow(5px 5px 5px black);
          filter: drop-shadow(5px 5px 5px black);
  -webkit-transition: 2s;
  transition: 2s;
}

@media screen and (max-width: 600px) {
  .bodygaleria .galeriatitulo {
    font-size: 3em;
  }
}

@media screen and (max-width: 300px) {
  .bodygaleria .galeriatitulo {
    font-size: 2em;
  }
}

@media screen and (min-width: 768px) {
  .contenedor .contenedor__fotos img {
    border-radius: 50px;
  }
}

.contenedor .contenedor__fotos img:hover {
  -webkit-filter: drop-shadow(5px 5px 5px black) grayscale(100%);
          filter: drop-shadow(5px 5px 5px black) grayscale(100%);
}

.filtros__contactotitulo {
  font-size: 4em;
  text-align: center;
  text-shadow: 2px 2px 5px black;
  font-family: 'Montserrat';
}

.contacto__filtros .contacto__emailytel {
  width: 450px;
  height: auto;
  border: 10px double;
  background-color: white;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.contacto__filtros .contacto__emailytel .contacto__emailytel--logo {
  font-size: 75px;
}

.contacto__filtros .contacto__emailytel .contacto__emailytel--1 {
  font-size: 55px;
  font-family: monospace;
  font-style: oblique;
}

.contacto__filtros .contacto__emailytel .contacto__emailytel--2 {
  font-size: 20px;
  font-style: oblique;
}

@media screen and (max-width: 600px) {
  .filtros__contactotitulo {
    font-size: 50px;
  }
}

@media screen and (max-width: 350px) {
  .filtros__contactotitulo {
    font-size: 40px;
  }
}

@media screen and (max-width: 500px) {
  .contacto__filtros .contacto__emailytel .contacto__emailytel--1 {
    font-size: 40px;
  }
}

.bodysabores {
  background-image: url(multimedia/imghela22.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.bodysabores .titulosabores {
  font-family: 'Montserrat';
  font-size: 50px;
  text-shadow: 2px 2px 5px white;
}

.listas__lista li {
  font-family: 'Bebas Neue', cursive;
  text-transform: uppercase;
}

@media screen and (min-width: 992px) {
  .listas__lista li {
    font-size: 40px;
  }
}

@media screen and (max-width: 991px) {
  .listas__lista li {
    font-size: 30px;
  }
}

@media screen and (max-width: 575px) {
  .listas__lista li {
    font-size: 20px;
  }
}

@media screen and (max-width: 575px) {
  .bodysabores .titulosabores {
    font-size: 2em;
  }
}

@media screen and (max-width: 320px) {
  .bodysabores .titulosabores {
    font-size: 27px;
  }
}

/*para hero*/
.tituloshero {
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
}

.imgredondas img {
  border-radius: 500px;
  -webkit-filter: drop-shadow(2px 2px 5px black);
          filter: drop-shadow(2px 2px 5px black);
}

.mapayqs .mapayqs__filtros .filtros__qs .filtros__qs--texto {
  font-size: 20px;
}

@media screen and (max-width: 480px) {
  .mapayqs .mapayqs__filtros .filtros__qs .filtros__qs--texto {
    font-size: 15px;
  }
}

@media screen and (min-width: 992px) {
  .filtros__qs:hover {
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition-duration: 3s;
            transition-duration: 3s;
    -webkit-box-shadow: 2px 2px 1px black;
            box-shadow: 2px 2px 1px black;
  }
}

@media screen and (max-width: 991px) {
  .filtros__qs {
    margin-top: 30px;
    margin-bottom: 10px;
  }
}

/*maquina escribir*/
.contenedor {
  margin: auto;
  display: table;
}

.contenedor .maqesq {
  position: relative;
  float: left;
  color: #fff;
  font-size: 20px;
}

.contenedor .maqesq span {
  position: absolute;
  padding: 2px;
  right: 0;
  width: 0;
  background: #e0d69f;
  border-left: 1px solid #000;
  -webkit-animation: escribir 6s steps(33) infinite alternate;
          animation: escribir 6s steps(33) infinite alternate;
}

@-webkit-keyframes escribir {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

@keyframes escribir {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

@media only screen and (max-width: 343px) {
  .contenedor .maqesq {
    font-size: 15px;
  }
}

/*maquina escribir fin*/
@media screen and (max-width: 800px) {
  .tituloshero {
    font-size: 30px;
  }
}

@media screen and (max-width: 600px) {
  .tituloshero {
    font-size: 20px;
  }
}

@media screen and (max-width: 400px) {
  .tituloshero {
    font-size: 15px;
  }
}

@media only screen and (max-width: 480px) {
  .mapayqs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.btn-arriba {
  position: absolute;
  z-index: 999999;
  width: 20px;
  height: 20px;
  background-color: #8d4141;
}

body {
  background-color: #e0d69f;
}
/*# sourceMappingURL=estilos.css.map */