/*para los h1 sabores, informacion, galeria, contacto*/
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');

@import 'sass/header';
@import 'sass/footer';
@import 'sass/informacion';
@import 'sass/galeria';
@import 'sass/contacto';
@import 'sass/sabores';
@import 'sass/index';

$colorfondo:clarito;
body{
    @if $colorfondo == clarito{
        background-color: rgb(224, 214, 159);
    }@else if $colorfondo == azul{
        background-color:blue;
    }@else {
        color:black;
    }
}
body::-webkit-scrollbar {
    width: 10px;               /* width of the entire scrollbar */
}
  
body::-webkit-scrollbar-track {
    background: rgb(224, 224, 224);        /* color of the tracking area */
}
  
body::-webkit-scrollbar-thumb {
    background-color: gray;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
}